.question_mark {
  margin-left: 40px !important;
}

.disabled_button {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.banner {
  margin-left: 25px;
  margin-top: 30px;
}

.banner h2 {
  color: #32b9ea;
}
