.frame
  - if photo
    = image_tag photo.preview_url, :width => "212"
  - else
    = image_tag "question_mark.png", :class => "question_mark"
- if photo
  %a{:href => "#"} See Votes
- else
  %a{:href => "#", :class => "disabled_button"} See Votes
