- css_class ||= ""
#footer{:class => css_class}
  .left_link
    %p &copy; 2011 my three best Inc.
    %ul
      %li.first
        %a{:href => "#"} Terms
      %li
        %a{:href => "#"} Privacy
  .right_link
    %ul
      %li
        %a{:href => "#"} About
      %li
        %a{:href => "#"} Blog
      %li
        %a{:href => "#"} Store
      %li
        %a{:href => "#"} API
      %li
        %a{:href => "#"} Contact
