.work_menu
  .work_menu_bg
    .work_menu_left
      .work_menu_right
        %ul
          %li.first
            %a{:href => root_path, :class => ((active == "dashboard") ? "active" : "" )}
              %span Invite Friends
          %li
            %a{:href => "/votes/friends", :class => ((active == "friend_votes") ? "active" : "" )}
              %span See Friends Votes
          %li
            %a{:href => public_profile_path(current_user.public_page_url), :class => ((active == "public_page") ? "active" : "" )}
              %span Show the World
          %li
            %a{:href => "/votes", :class => ((active == "see_votes") ? "active" : "" )}
              %span See Vote

