.invite_bg_repeat
  .invite_top
    .invite_bottom
      .invite_main
        = image_tag current_user.profile_picture
        %p #{current_user.first_name}
        %a{:href => "#"} Invite Friends to Vote
