%h1 Welcome to MyThreeBest
%p #{current_user.first_name}
=image_tag current_user.profile_picture
=link_to "Logout", logout_path
%a{ :href => 'javascript:inviteAll()' }
  %p
    Invite all my friends on my wall

#loading
  =image_tag "/images/loading.gif"
%table
  %tr
    %td{:valign => "top"}
      %table
        %thead
          %tr
            %th 
            %tbody{:data => {:bind => 'template: { name: "friendRowTemplate", foreach: left_row }'}}
    %td{:valign => "top"}
      %table
        %thead
          %tr
            %th 
            %tbody{:data => {:bind => 'template: { name: "friendRowTemplate", foreach: right_row }'}}


#inviteDialog{:title => "Invite Friend"}
  %iframe{:id => "inviteIframe", :width => "100%", :height => "100%"}

%script#friendRowTemplate{:type => "text/html"}
  %tr
    %td
      %table
        %tr
          %td
            %img{:src => "${ profile_image_url }"}/
          %td{:valign => "top"}
            ${ name }
            %br
            %a.fg-button.ui-state-default.ui-corner-all{:href => "${ link_url }"} ${ link_text }

:javascript
  $(document).ready(function() {
      $("a[href*='/invite']").live('click', function(evt) {
          evt.preventDefault();
          $("#inviteDialog").dialog("open");
          $("#inviteIframe").attr("src",$(this).attr("href"));
      });
      $("#inviteDialog").dialog({
           autoOpen: false,
           modal: true,
           height: 500,
           width: 500
       });
      getFriends();
      window.getFriendsInterval = window.setInterval(getFriends, 3000);
  });


