%h1 Welcome to MyThreeBest
%p #{current_user.first_name}
=image_tag current_user.profile_picture
=link_to "Logout", logout_path
%a{ :href => 'javascript:inviteAll()' }
  %p
    Invite all my friends on my wall

#loading
  =image_tag "/images/loading.gif"
%table
  %tr
    %td{:valign => "top"}
      %table
        %thead
          %tr
            %th 
            %tbody{:data => {:bind => 'template: { name: "friendRowTemplate", foreach: left_row }'}}
    %td{:valign => "top"}
      %table
        %thead
          %tr
            %th 
            %tbody{:data => {:bind => 'template: { name: "friendRowTemplate", foreach: right_row }'}}

%script#friendRowTemplate{:type => "text/html"}
  %tr
    %td
      %table
        %tr
          %td
            %img{:src => "${ profile_image_url }"}/
          %td{:valign => "top"}
            ${ name }
            %br
            %a.fg-button.ui-state-default.ui-corner-all{"data-remote" => "true", :href => "/vote/", :id => "invitation_${vote_id}"} Invite

:javascript
  $(document).ready(function() {
      getFriends();
      window.getFriendsInterval = window.setInterval(getFriends, 3000);
  });


