%h1 Something cool is happening here
%p Welcome #{current_user.first_name}
=image_tag current_user.profile_picture
=link_to "Logout", logout_path
#friends
  =image_tag "/images/loading.gif"
#pagination
#pages_info
- if @job.status == "completed"
  :javascript
      $(document).ready(function() {
         reloadFriends();
      });
- else
  :javascript
      $(document).ready(function() {
        window.reloadInterval = window.setInterval(reloadFriends,3000);
      });

