%body
  #layout
    = render "shared/header"
    #body_container
      .work_container
        .work_bg_repeat
          .work_bg_top
            .work_bg_bottom
              .work_main
                = render :partial => "shared/menu", :locals => {:active => "none"}
                .work_main_bg
                  .work_main_top
                    .work_main_bottom
                      .how_works
                        %h2 How it works!
                        %p
                          Sed dapibus convallis molestie &middot;
                          %em Nullam et neque eu dolor eleifend faucibus.
                        %ul
                          %li.first
                            .step_bg
                              .step_top
                                .step_bottom
                                  .step_main
                                    %h2 Step 1
                                    %p Invite your friends
                                    %ul
                                      %li.first
                                        %img{:alt => "", :src => "/images/step_img01.gif"}/
                                      %li
                                        %img{:alt => "", :src => "/images/step_img02.gif"}/
                                        .work_icon
                                          %a{:href => "/auth/facebook"}
                                            %img{:alt => "", :src => "/images/facebook_icon01.gif"}/
                          %li
                            .step_bg
                              .step_top
                                .step_bottom
                                  .step_main
                                    %h2 Step 2
                                    %p Help your friends to vote 3 best photos of yours
                                    .num
                                      .num01
                                        .num_bg
                                          %strong 1
                                      .num02
                                        .num_bg
                                          %strong 2
                                      .num03
                                        .num_bg
                                          %strong 3
                          %li
                            .step_bg
                              .step_top
                                .step_bottom
                                  .step_main
                                    %h2 Step 3
                                    %p
                                      Select your best 3
                                      photos to compete with
                                      friends best three's by
                                      commenting and
                                      suggestion from your
                                      friends
                                    .comment
                                      .comment_box
                                        %img{:alt => "", :src => "/images/comment_box.gif"}/
                                      %ul
                                        %li
                                          %a{:href => "#"} YES?
                                        %li
                                          %a{:href => "#"} NO?
                          %li
                            .step_bg
                              .step_top
                                .step_bottom
                                  .step_main
                                    %h2 Step 4
                                    %p
                                      After all the votes have been cast, the best 3
                                      counted to show  thier
                                      admiration helps you
                                      win the election of next
                                      US President
                                    .step_img03
                                      %img{:alt => "", :src => "/images/step_img03.gif"}/
                        .facebook_login.pad
                          %a{:href => "/auth/facebook"}
                            %img{:alt => "", :src => "/images/facebook_icon.gif"}/
                            %span.blue_bg
                              %span.blue_bg_right
                                %strong Login with Facebook and Start now!
                        %p.content
                          %strong Disclaimers
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis viverra pharetra. Vivamus quis ipsum mi. Duis laoreet tortor ut
                          nibh ultricies et facilisis arcu pretium. Mauris accumsan eleifend posuere. Proin et turpis sapien. Integer id dolor ac ante gravida luctus.
                          Duis eget sem a diam ornare feugiat. Integer placerat feugiat nisl, a volutpat tellus hendrerit non. Ut blandit porttitor augue vel volutpat.
                          Nullam sit amet eros non nibh tincidunt rutrum eu ac lectus. Nunc vel lacinia velit. Phasellus convallis adipiscing hendrerit.
                      .bottom_logo
                        .col01
                          %h2 SUPPORTING SPONSOR
                          %ul
                            %li.first
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo01.gif"}/
                            %li
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo02.gif"}/
                            %li
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo03.gif"}/
                            %li.second
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo04.gif"}/
                            %li.third
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo05.gif"}/
                        .col02
                          %h2 MEDIA PARTNER
                          %ul
                            %li.none
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo06.gif"}/
                            %li.none
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo07.gif"}/
                            %li.none
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo08.gif"}/
                        .col03
                          %h2 PARTNERS
                          %ul
                            %li.fourth
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo09.gif"}/
                            %li
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo10.gif"}/
                            %li.five
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo11.gif"}/
                            %li.six
                              %a{:href => "#"}
                                %img{:alt => "", :src => "/images/bottom_logo12.gif"}/
        %span.clear
    = render :partial => "shared/footer", :locals => {:css_class => "pad1"}
