%p Photos of #{@user.first_name}
.photos-box
  .ContentFlow
    .loadIndicator
      .indicator
    .flow
      - @photos.each do |photo|
        = image_tag photo.preview_url, :class => "item", :title => photo.title
    .globalCaption
    .scrollbar
      .slider
        .position

